<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Trilhas</title>

    <!-- CSS -->
    <link href="css/adminlte.core.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/jquery.dataTables.min.css">    
    <link href="css/main.css" rel="stylesheet">    
    <!-- FIM CSS-->

</head>
    
<body class="hold-transition sidebar-mini sidebar-collapse">

    <div class="wrapper">

      <!-- PARTES WRAPPER 

        - MENU TOPO 
        - LOGO
        - MENU LATERAL INFERIOR
        - CONTEÚDO PRINCIAL
        
      -->
      <!-- *************************** MENU DO TOPO (exceto logotipo) ***************************  -->


      <nav class="main-header navbar navbar-expand navbar-white navbar-light border-0">

        <!-- navbar topo: links a esquerda -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button">
                    <i class="fas fa-list"></i>
                </a>
            </li>
            <form class="form-inline">
                <input placeholder="Buscar..." aria-label="Buscar" type="text" class="form-control-no-border mr-sm-2 form-control">
            </form>
        </ul>
    
        <!-- navbar topo: links a direita -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item d-none d-sm-inline-block">
                <a href="#" class="nav-link">link</a>
              </li>
              
          <!-- Notifications Dropdown Menu -->
          <li class="nav-item dropdown">

            <a class="nav-link" data-toggle="dropdown" href="#">
              <i class="far fa-bell"></i>
              <span class="badge badge-warning navbar-badge">15</span>
            </a>

            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <span class="dropdown-header">15 Notificações</span>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                <i class="fas fa-envelope mr-2"></i> 4 novos avisos
                <span class="float-right text-muted text-sm">3 mins</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                <i class="fas fa-users mr-2"></i> 8 requisições
                <span class="float-right text-muted text-sm">12h</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                <i class="fas fa-file mr-2"></i> 3 novos relatórios
                <span class="float-right text-muted text-sm">2d</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">Ver todas as notificações</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
              <i class="fas fa-expand-arrows-alt"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
              <i class="fas fa-th-large"></i>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.navbar -->
    
      <!-- ################### MENU LATERAL (esquerda) ################### -->
      <aside class="main-sidebar sidebar-dark-primary">


        <!-- ***************************  logotipo ***************************  -->

        
        <div class="dropdown">
            <a class="dropdown-toggle text-light brand-link px-4" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">

                <i class="fas fa-cube" style="color:#00bfed">              
                </i>
                <span class="brand-text ml-2">Trilhas</span>
            </a>
          

            <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdownMenuLink">
                <span class="dropdown-header">Módulos</span>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">Áduna</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">Lins</a>
            </div>
        </div>
        
        <!-- *************************** MENU DE MÓDULOS (menu lateral inferior) ***************************-->
    
        <!-- Sidebar -->
        <div class="sidebar">
         
          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-home"></i>
                    <p>
                        Home
                    </p>
                    </a>
                </li>

              <li class="nav-item /*menu-open*/">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    Servidores
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="far fa-circle nav-icon" style="color:#00bfed"></i>
                      <p>Saúde</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Educação</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-tachometer-alt "></i>
                  <p>
                    Exemplo de warning
                    <span class="right badge badge-danger">7</span>
                  </p>
                </a>
              </li>
              <div class="mb-4 pb-4"></div>
              <li class="nav-item bg-dark" style="position: fixed; bottom: 0;">
                <div class="row">
                  <a href="#" class="nav-link">
                    <img src="images/mpmg_w.svg" class="col-6 pr-2" style="opacity: 0.5;">
                    <img src="images/gsi_w.svg" class="col-6 pl-2" style="opacity: 0.5;">
                  </a>
                </div>
              </li>
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->

        
      </aside>
    

      <!-- CONTEÚDO PRINCIPAL -->

      <div class="content-wrapper px-2">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Servidores públicos <span class="right badge" style="background-color:#00bfed; color:azure">Saúde</span></h1>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Trilhas</a></li>
                  <li class="breadcrumb-item"><a href="#">Servidores públicos</a></li>
                  <li class="breadcrumb-item active">Saúde</li>
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
    
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
               
                <div class="row mt-3">
                    <!-- card -->
                    <div class="col-3">
                        <div class="card card-shadow">
                            <div class="card-body">    
                                <div class="media">
                                    <div class="d-inline-block mt-2 mr-3">
                                        <i class="nav-icon fas fa-clock"></i>
                                    </div>                                    
                                    <div class="media-body"><h3 class="mb-2">Todos</h3><div class="mb-0 text-muted">Período</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./card -->
                     <!-- card -->
                     <div class="col-3">
                        <div class="card card-shadow">
                            <div class="card-body">    
                                <div class="media">
                                    <div class="d-inline-block mt-2 mr-3">
                                        <i class="nav-icon fas fa-th"></i>
                                    </div>                                    
                                    <div class="media-body"><h3 class="mb-2">1.612.650</h3><div class="mb-0 text-muted">Quantidade</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./card -->
                     <!-- card -->
                     <div class="col-3">
                        <div class="card card-shadow">
                            <div class="card-body">    
                                <div class="media">
                                    <div class="d-inline-block mt-2 mr-3">
                                        <i class="nav-icon fas fa-th"></i>
                                    </div>                                    
                                    <div class="media-body"><h3 class="mb-2">200.519</h3><div class="mb-0 text-muted">Incomuns</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./card -->
                     <!-- card -->
                     <div class="col-3">
                        <div class="card card-shadow">
                            <div class="card-body">    
                                <div class="media">
                                    <div class="d-inline-block mt-2 mr-3">
                                        <i class="nav-icon fas fa-th"></i>
                                    </div>                                    
                                    <div class="media-body"><h3 class="mb-2">12%</h3><div class="mb-0 text-muted">% incomuns</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./card -->
                </div>
                <div class="row mx-0 mt-3">
                    <div class="card w-100 card-shadow">
                        <div class="card-body">
                        <h5 class="card-title"></h5>
        
                        <p class="card-text">
                            <img src="images/histograma.png" class="w-100">
                        </p>
                        <!--
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>-->
                        </div>
                    </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
    
<!-- Barra auxiliar -->
<aside class="control-sidebar control-sidebar-dark">
    <div class="p-3">
        <h5>Eu sou uma barra auxiliar</h5>
        <p>Conteúdo</p>
    </div>
</aside>
<!-- /.control-sidebar -->
    
</div>


<!-- Modal DISTANCIA -->
<div class="modal fade" id="modal_distancia" tabindex="-1" aria-labelledby="label_modal_distancia" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label_modal_distancia">Distância máxima</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table id="distancia"></table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


<!-- JS -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/adminlte.min.js"></script>
<script src="js/papaparse.min.js"></script>

<script>
// $(document).ready( function () { $('#distancia').DataTable(); } );

$(function() {
      Papa.parse("data/s07_distancia_maxima_sample.csv", {
          download: true,
          complete: function(example) {
              console.log(example.data)
          $(document).ready(function () {
              $('#distancia').DataTable({
                  data: example.data,
                  dataSrc:"",
                  columns: [
                      {title: "cns"},
                      {title: "nome"},
                      {title: "competencia"},
                      {title: "list_cidades"},
                      {title: "qtd_cidades"},
                      {title: "distancia_maxima"}
                  ]
              });
          });
          }
      });
  });


$("#modal_distancia").modal('show');
</script>
<!-- FIM JS -->
<!-- Layout adaptado de AdminLTE 3.1.0 (Licença: MIT - open source project) -->

</body>
</html>