<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Trilhas</title>

  <!-- CSS -->
  <link href="css/adminlte.core.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/fontawesome.min.css">
  <link rel="stylesheet" href="css/jquery.dataTables.min.css">
  <link href="css/main.css" rel="stylesheet">
  <!-- FIM CSS-->

</head>

<body class="hold-transition sidebar-mini sidebar-collapse">

  <div class="wrapper">

    <!-- PARTES WRAPPER 

        - MENU TOPO 
        - LOGO
        - MENU LATERAL INFERIOR
        - CONTEÚDO PRINCIAL
        
      -->
    <!-- *************************** MENU DO TOPO (exceto logotipo) ***************************  -->


    <!--<nav class="main-header navbar navbar-expand navbar-white navbar-light border-0">

            <!-- navbar topo: links a esquerda 
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button">
                        <i class="fas fa-list"></i>
                    </a>
                </li>
                <form class="form-inline">
                    <input placeholder="Buscar..." aria-label="Buscar" type="text"
                        class="form-control-no-border mr-sm-2 form-control">
                </form>
            </ul>

            <!-- navbar topo: links a direita 
            <ul class="navbar-nav ml-auto">
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">link</a>
                </li>

                <!-- Notifications Dropdown Menu 
                <li class="nav-item dropdown">

                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-header">15 Notificações</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 novos avisos
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 requisições
                            <span class="float-right text-muted text-sm">12h</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 novos relatórios
                            <span class="float-right text-muted text-sm">2d</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">Ver todas as notificações</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

    <!-- ################### MENU LATERAL (esquerda) ################### -->
    <aside class="main-sidebar sidebar-dark-primary">


      <!-- ***************************  logotipo ***************************  -->


      <div class="dropdown">
        <a class="dropdown-toggle text-light brand-link px-4" href="#" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">

          <i class="fas fa-cube" style="color:#00bfed">
          </i>
          <span class="brand-text ml-2">Trilhas</span>
        </a>


        <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdownMenuLink">
          <span class="dropdown-header">Módulos</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">Áduna</a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">Lins</a>
        </div>
      </div>

      <!-- *************************** MENU DE MÓDULOS (menu lateral inferior) ***************************-->

      <!-- Sidebar -->
      <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-home"></i>
                <p>
                  Home
                </p>
              </a>
            </li>

            <li class="nav-item /*menu-open*/">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Servidores
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon" style="color:#00bfed"></i>
                    <p>Saúde</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Educação</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt "></i>
                <p>
                  Exemplo de warning
                  <span class="right badge badge-danger">7</span>
                </p>
              </a>
            </li>
            <div class="mb-4 pb-4"></div>
            <li class="nav-item bg-dark" style="position: fixed; bottom: 0;">
              <div class="row">
                <a href="#" class="nav-link">
                  <img src="img/mpmg_w.svg" class="col-6 pr-2" style="opacity: 0.5;">
                  <img src="img/gsi_w.svg" class="col-6 pl-2" style="opacity: 0.5;">
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->


    </aside>


    <!-- CONTEÚDO PRINCIPAL -->

    <div class="content-wrapper px-2">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-4">
              <h1 class="m-0">Servidores públicos <span class="right badge"
                  style="background-color:#00bfed; color:azure">Saúde</span></h1>

            </div>
            <div class="col-sm-4">
              <span id="loading"><img style="width: 25px; height: 25px" src="img/loading.svg" /></span>
              <span id="status">Carregando...</span>
            </div>
            <!-- /.col -->
            <div class="col-sm-4">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Trilhas</a></li>
                <li class="breadcrumb-item"><a href="#">Servidores públicos</a></li>
                <li class="breadcrumb-item active">Saúde</li>
                <li class="breadcrumb-item">Saúde</li>

              </ol>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">

          <div class="row mt-3">
            <!-- card -->
            <div class="col">
              <div class="card card-shadow">
                <div class="card-body">
                  <div class="media">
                    <div class="d-inline-block mt-2 mr-3">
                      <i class="nav-icon fas fa-clock"></i>
                    </div>
                    <div class="media-body">
                      <h4 class="mb-2">
                        <select id="periodo" class="form-select">
                          <option value="todas" selected>Todos</option>
                          <option value="anos">Por ano</option>
                          <option value="2015">2015</option>
                          <option value="2016">2016</option>
                          <option value="2017">2017</option>
                          <option value="2018">2018</option>
                          <option value="2019">2019</option>
                          <option value="2020">2020</option>
                        </select>
                      </h4>
                      <div class="mb-0 text-muted">Período<br>&nbsp;</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ./card -->
            <!-- card -->
            <div class="col">
              <div class="card card-shadow">
                <div class="card-body">
                  <div class="media">
                    <div class="d-inline-block mt-2 mr-3">
                      <i class="nav-icon fas fa-globe"></i>
                    </div>
                    <div class="media-body">
                      <h3 id="cardTotal" class="mb-2"></h3>
                      <div class="mb-0 text-muted"><small>Servidores-<br>competência</small></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ./card -->
            <!-- card -->
            <div class="col">
              <div class="card card-shadow">
                <div class="card-body">
                  <div class="media">
                    <div class="d-inline-block mt-2 mr-3">
                      <i class="nav-icon fas fa-check"></i>
                    </div>
                    <div class="media-body">
                      <h3 id="cardNormal" class="mb-2"></h3>
                      <div id="cardPercNormal" class="mb-0 text-muted"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ./card -->
            <!-- card -->
            <div class="col">
              <div class="card card-shadow">
                <div class="card-body">
                  <div class="media">
                    <div class="d-inline-block mt-2 mr-3">
                      <i class="nav-icon fas fa-question-circle"></i>
                    </div>
                    <div class="media-body">
                      <h3 id="cardAnomalia" class="mb-2"></h3>
                      <div id="cardPercAnomalia" class="mb-0 text-muted"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ./card -->
            <!-- card -->
            <div class="col">
              <div class="card card-shadow">
                <div class="card-body">
                  <div class="media">
                    <div class="d-inline-block mt-2 mr-3">
                      <i class="nav-icon fas fa-route"></i>
                    </div>
                    <div class="media-body">
                      <h3 id="cardDistanciaMediana" class="mb-2"></h3>
                      <div class="mb-0 text-muted"><small>Mediana<br>(Km)</small></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ./card -->
            <!-- card -->
            <div class="col">
              <div class="card card-shadow">
                <div class="card-body">
                  <div class="media">
                    <div class="d-inline-block mt-2 mr-3">
                      <i class="nav-icon fas fa-search-location"></i>
                    </div>
                    <div class="media-body">
                      <h3 id="cardDistanciaLimite" class="mb-2"></h3>
                      <div class="mb-0 text-muted"><small>Distância de corte<br>(Km)</small></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ./card -->
          </div>
          
          <div class="card w-100 pl-3 py-2 ml-0 mt-2 card-shadow">
            <div class="row">

              <div class="col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" checked class="custom-control-input checked-normalidade" id="displayNormalidade">
                  <label class="custom-control-label" for="displayNormalidade">Ver normalidades</label>
                </div>
              </div>

              <div class="col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" checked class="custom-control-input check-anomalias" id="displayAnomalias">
                  <label class="custom-control-label" for="displayAnomalias">Ver anomalias</label>
                </div>
              </div>
              
            </div>
          </div>

          <div class="row mx-0 mt-2">
            <div class="card w-100 card-shadow">

              <div id="boxplotViz" class="card-body">

              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <!-- Barra auxiliar -->
      <aside class="control-sidebar control-sidebar-dark">
        <div class="p-3">
          <h5>Eu sou uma barra auxiliar</h5>
          <p>Conteúdo</p>
        </div>
      </aside>
      <!-- /.control-sidebar -->

    </div>

    <!-- JS -->
    <script src="js/lib/jquery.js"></script>
    <script src="js/lib/bootstrap.bundle.min.js"></script>
    <script src="js/lib/jquery.dataTables.min.js"></script>
    <script src="js/lib/adminlte.min.js"></script>
    <script src="js/lib/papaparse.min.js"></script>

    <!-- FIM JS -->
    <!-- Layout adaptado de AdminLTE 3.1.0 (Licença: MIT - open source project) -->

    <script src="https://d3js.org/d3.v6.min.js"></script>

    <script src="js/lib/d3-boxplot.min.js"></script>
    <script src="js/lib/util.js"></script>

    <script src="js/viz/boxplot.js"></script>
    <script src="js/viz/histogram.js"></script>

    <script src="js/viz/viz1.js"></script>

</body>

<!-- Modal DISTANCIA -->
<div class="modal fade" id="modalDetalhes" tabindex="-1" aria-labelledby="labelModalDistancia" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="labelModalDistancia">Dados brutos entre as distâncias X e Y</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table id="detalheDistancias" class="table table-striped table-condensed table-hover">
          <thead>
            <tr>
              <th>CNS</th>
              <th>Nome</th>
              <th>Competência</th>
              <th>Vínculo</th>
              <th>Cidades</th>
              <th>Qtd. cidades</th>
              <th>Distância máxima</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

</html>