body {
  background-color: #f5f5f5;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
}

svg.boxplot {
  border: 1px solid black;
  fill: #383838;
  margin-top: 20px;
}

.x-axis-grid line {
  stroke: #def;
}

.x-axis-outlier path, .x-axis-outlier line {
  stroke: #b4464b!important;  
}

.y-axis path, .y-axis line {
  fill: none;
  stroke: none;
}

circle.outlier {
  opacity: 0;
}

.axis-outlier line:first-child, .axis-outlier line:last-child {
  opacity: 0;
}